#game table {
    border: 3px blue outset;
    background-color: blue;
}
#game td {
    width: 2cm;
    height: 2cm;
    margin: 0px;
    padding: 0px;
    border: 2px black inset;
    border-radius: 2cm;
    background-color: rgb(0,10,10);

    cursor: pointer;
}
#game td.player1 {
    background-color: grey;
}
#game td.player2 {
    background-color: white;
}
body
{	
	background-color:rgb(0,0,64);
}

h1
{
text-shadow:2px 2px 4px blue;
box-shadow: 6px 6px 6px black;
font-size: xx-large;
font-family:Impact,sans-serif;
font-weight:bold;
text-align: center;
}
div
{
display: flex;
    justify-content: center;
    align-items: center;
}
button
{
	display: flex;
    justify-content: center;
    align-items: center;
}